doctype html
html
  head
    title= title
    <meta name="author" content="javferry.com">
    meta(itemprop="description" name="description" content=des)
    script(type="application/ld+json") !{JSON.stringify(websiteLDJSON, null, 2)}
    script(type="application/ld+json") !{JSON.stringify(organizationLDJSON, null, 2)}
    script(type="application/ld+json") !{JSON.stringify(specialLDJSON, null, 2)}
  body
    a(href="/") Home
    a(href="/meta/category") Category
    a(href="/meta/pornstar") Pornstar
    a(href="/meta/director") Director
    a(href="/meta/studio") Studio
    block content
